.game {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #090c15;
  border-radius: 0.5em;
}

.game h1 {
  font-size: 1.8em;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.points span {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

 h3 {
  margin-top: 3px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

 p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.tip span {
  color: #fff;
}

.wordContainer {
  margin: 1em;
  padding: 1em;
  /*border: 10px solid #fff;*/
  background-color: #fff;
  display: flex;
  border-radius: 0.4em;
}

.letter,
.blankSquare {
  font-size: 2.4em;
  line-height: calc(0.8);
  /*border: 3px solid #282c34;*/
  height: 50px;
  text-transform: uppercase;
  background-color: #FFF;
  /*background-color: #1a1a1a;*/
  color: blueviolet;
  font-weight: bold;
}

.letterContainer p {
  margin-bottom: 1.2em;
}

.letterContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 40px;
  width: 8%;
  border-radius: 0.4em;
  font-size: 1em;
  text-align: center;
  margin-left: 4px;
}

.wrongLettersContainer2 {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}
