.start {
  width: 80%;
  border-radius: 8px;
  background-color: #090c15;
  height: 85vh;
}

.logo {
  margin-top: 38px;
}

.start h1 {
  font-size: 2.6em;
  margin-top: -2px;
}

.start p {
  color: #84ba64;
  margin-bottom: 2em;
}

@media screen and (max-width: 500px) {
  .start p {
    width: 85%;
    margin: 14px auto;
  }

  .logo {
    width: 50%;
  }
}