body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #233056;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --colornode1: #233056;
  --colornode2: #999;
  --colornode3: #090c15;
  --colornode4: #84ba64;
  --colornode5: #43853d;
  --colornode6: #026e00;
  --colornode7: #fff;
}

.btnS {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 130px;
  height: 11vh;
  padding: 5px ;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #ffffff;
  background-color: #026e00;
  cursor: pointer;
  transition: 2s;
  margin-top: 0.5em;
  border-radius: 0.4em;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button:hover {
  color: var(--colornode7);
  background-color: var(--colornode5);
}
